.Player {
    display: flex;
    justify-content: flex-start;
    margin: 2px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

[class*="Player__"] {
    margin-right: 2px;
    background-color: #74b9ff;
    padding: 5px;
}

[class*="button"]:active {
    background-color: #0984e3;
}

.Player__name {
    max-width: 150px;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.Player__score {
    width: 60px;
    text-align: center;
}

.Player__button {
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.Player__button-remove {
    width: 70px;
    text-align: center;
    cursor: pointer;
}
